<script
  src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"
></script>
<script src="/static/schemaorg/schemaorg.js"></script>

<div class="bg-base-100 p-6 rounded-box shadow mt-6">
  <form method="POST" action="/schema/{{class.name}}/save">
    <input type="hidden" name="property-order" id="property-order" />
    <div class="mb-6">
      <div class="flex justify-between items-center">
        <div>
          <h1 class="text-3xl font-bold">{{class.name}}<a href="{{class.canonicalURL}}" target="_blank"><sup class="fa-solid fa-arrow-up-right-from-square text-xs ml-2 text-gray-400"></sup></a></h1>
          <div class="text-sm breadcrumbs">
            <ul>
              {{#each breadcrumbs}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="form-control text-sm">
          <label class="label cursor-pointer">
            <span class="label-text mr-2">Show hidden properties</span>
            <input
              type="checkbox"
              class="toggle"
              id="show-hidden-properties-toggle"
            />
          </label>
        </div>
      </div>
      <div class="text-base-content/70 description">{{{beautify class.description}}}</div>
    </div>


    <div class="space-y-2">
    {{#each class.properties}}
      {{>editProperty}}
    {{/each}}
   </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <!-- Left Column: Property Order -->
      <div class="rounded-box p-3 border-2 border-primary-content bg-primary-content/70">
        <h2 class="text-xl font-bold mb-2">Property Order</h2>
        <p class="text-sm text-base-content/70 mb-2">Drag and drop to reorder
          the visible properties.</p>
        <div id="property-order-list" class="space-y-2">
          <!-- This will be populated by JavaScript -->
        </div>
      </div>

      <!-- Right Column: Meta Info and Actions -->
      <div>
        <div
          class="rounded-box p-3 mb-4 border-2 border-primary-content bg-primary-content/70"
        >
          <h2 class="text-xl font-bold mb-2">Meta Information</h2>
          <div class="grid grid-cols-1 gap-4">
            <div>
              <label class="label" for="identifier">
                <span class="label-text">Identifier</span>
              </label>
              <select id="identifier" name="identifier" class="select select-bordered w-full">
                <option disabled selected>Select an identifier</option>
                <option>property1</option>
                <option>property2</option>
              </select>
            </div>
            <div>
              <label class="label" for="secondary-identifier">
                <span class="label-text">Secondary Identifier (Optional)</span>
              </label>
              <select
                id="secondary-identifier"
                name="secondary-identifier"
                class="select select-bordered w-full"
              >
                <option disabled selected>Select a secondary identifier</option>
                <option>property1</option>
                <option>property2</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="flex justify-end space-x-2">
          <button type="button" class="btn btn-error" onclick="window.location.href = '/'">
            <i class="fas fa-circle-xmark"></i>
            Cancel</button>
          <button type="submit" class="btn btn-success">
            <i class="fas fa-circle-plus"></i>
            Create</button>
        </div>
      </div>
    </div>
  </form>
</div>
<br />

<style>
  .property-item {
    transition:
      max-height 0.2s ease-out,
      opacity 0.2s ease-out,
      padding 0.2s ease-out,
      border-width 0.2s ease-out;
    max-height: 500px; /* Should be larger than any property item's height */
    overflow: hidden;
  }
  .property-item.is-hidden {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
  }
  .sortable-ghost {
    opacity: 0.4;
  }
  .handle {
    cursor: grab;
  }
  .handle:active {
    cursor: grabbing;
  }
  .description a {
      text-decoration: underline;
    }
  }
</style>
<script defer>
  document.addEventListener("DOMContentLoaded", initPropertyOrderWidget);
</script>
