<div class="bg-base-100 p-6 rounded-box shadow">
  <form
    method="POST"
    action="/admin/page/save/{{class}}"
    id="edit-page-form"
    name="edit-page-form"
  >
    <div class="mb-6 flex justify-between items-center">
      <div>
        <h1 class="text-3xl font-bold">Edit {{class}} page</h1>
        <input type="hidden" name="identifier" value="{{identifier}}" />
      </div>
      <div class="form-control">
        <label class="label cursor-pointer gap-2">
          <span class="label-text">Enabled</span>
          <input
            type="checkbox"
            name="is-enabled"
            class="toggle toggle-success"
            {{#if page.isEnabled}}checked{{/if}}
          />
        </label>
      </div>
    </div>

    <div class="mb-6">
      <details class="collapse collapse-arrow bg-secondary/10 border border-secondary/30 rounded-lg">
        <summary class="collapse-title text-sm font-semibold text-secondary after:start-5 after:end-auto ps-12">Meta</summary>
        <div class="collapse-content border-t border-secondary/30">
          <div class="form-control">
            <label class="label" for="route">
              <span class="label-text">route</span>
            </label>
            <div id="route-wrapper">
              <input
                type="text"
                id="route"
                name="route"
                class="input input-bordered w-full validator"
                placeholder="/{{class}}/{{identifier}}"
                value="{{page.route}}"
                hx-post="/admin/page/get-valid-slug"
                hx-trigger="blur"
                hx-on:htmx:before-request="document.getElementById('route').setCustomValidity(''); document.getElementById('route-error').classList.add('hidden');"
                hx-on:htmx:after-request="if (event.detail.failed) {
                  document.getElementById('route').setCustomValidity(event.detail.xhr.response);
                  with (document.getElementById('route-error')) {
                    innerHTML=event.detail.xhr.response;
                    classList.remove('hidden');
                  };
                } else {
                  document.getElementById('route').value=event.detail.xhr.response;
                }"
              />
              <div id="route-error" class="validator-hint hidden"></div>
            </div>
          </div>
        </div>
      </details>
    </div>

    <div class="space-y-4">
      {{#each page.fields}}
        <div class="form-control">
          <label class="label" for="{{name}}">
            <span
              class="label-text
                {{compareAndUse
                  'text-primary font-bold'
                  true
                  page.identifier
                  name
                }}
                {{compareAndUse
                  'text-secondary font-bold'
                  true
                  page.secondaryIdentifier
                  name
                }}
                "
            >{{name}}
              {{#if isMandatory}}
                <span class="text-error">*</span>
              {{/if}}
              {{#if isSearchable}}
                <i class="fa-solid fa-magnifying-glass searchable-icon"></i>
              {{/if}}
            </span>
          </label>
          <input
            type="text"
            id="field-{{name}}"
            name="field-{{name}}"
            class="input input-bordered w-full
              {{use 'validator' true isMandatory}}
              {{compareAndUse 'bg-primary/10' true page.identifier name}}
              {{compareAndUse
                'bg-secondary/10'
                true
                page.secondaryIdentifier
                name
              }}
              "
            value="{{value}}"
            {{compareAndUse "disabled" true page.identifier name}}
            {{use "required" true isMandatory}}
          />
          {{#if isMandatory}}
            <div class="validator-hint">{{name}} is required.</div>
          {{/if}}
        </div>
      {{/each}}
    </div>

   <!--
        <textarea
          id="content"
          name="content"
          class="textarea textarea-bordered w-full h-32"
          required
        >This is the main content of the page.</textarea>
        <input
          type="file"
          id="featured-image"
          name="featured-image"
          class="file-input file-input-bordered w-full"
        />
-->

    <div class="flex justify-end space-x-2 mt-6">
      <button
        type="button"
        class="btn btn-info"
        onclick="submitPreview('{{class}}')"
      >
        <i class="fas fa-eye"></i>
        Preview
      </button>
      <button
        type="button"
        class="btn btn-error"
        onclick="window.location.href = '/admin/page/list?schema={{class}}'"
      >
        <i class="fas fa-circle-xmark"></i>
        Cancel
      </button>
      <button type="submit" class="btn btn-success">
        {{#if identifier}}
          <i class="fas fa-floppy-disk"></i>Update
        {{else}}
          <i class="fas fa-circle-plus"></i>Create
        {{/if}}
      </button>
    </div>
  </form>
</div>
