<script
  src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"
></script>
<script src="/static/schemaorg/schemaorg.js"></script>

<div class="bg-base-100 p-6 rounded-box shadow">
  <form method="POST" action="/schema/save/{{class.name}}" id="edit-schema-form">
    <input type="hidden" name="property-order" id="property-order" />
    <div class="mb-6">
      <div class="flex justify-between items-center">
        <div>
          <h1 class="text-3xl font-bold">{{class.name}}<a href="{{class.canonicalURL}}" target="_blank"><sup class="fa-solid fa-arrow-up-right-from-square text-xs ml-2 text-gray-400"></sup></a></h1>
          <div class="text-sm breadcrumbs">
            <ul>
              {{#each breadcrumbs}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="form-control text-sm">
          <label class="label cursor-pointer">
            <span class="label-text mr-2">Show hidden properties</span>
            <input
              type="checkbox"
              class="toggle"
              id="show-hidden-properties-toggle"
            />
          </label>
        </div>
      </div>
      <div class="text-base-content/70 description">{{{beautify class.description}}}</div>
    </div>


    <div class="space-y-2">
    {{#each class.properties}}
      {{>editProperty isLoadedClass=class.isLoaded}}
    {{/each}}
   </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <!-- Left Column: Property Order -->
      <div class="rounded-box p-3 border-2 border-secondary-content bg-secondary-content/70">
        <h2 class="text-xl font-bold mb-2">Property Order</h2>
        <p class="text-sm text-base-content/70 mb-2">Drag and drop to reorder
          the visible properties.</p>
        <div id="property-order-list" class="space-y-2">
          <!-- This will be populated by JavaScript -->
        </div>
      </div>

      <!-- Right Column: Meta Info and Actions -->
      <div>
        <div
          class="rounded-box p-3 mb-4 border-2 border-secondary-content bg-secondary-content/70"
        >
      <fieldset name="identifiers-fieldset" {{#if class.isLoaded}} disabled {{/if}}>
          <h2 class="text-xl font-bold mb-2">Meta Information</h2>
            <p style="margin-bottom:10px;">
              {{#if class.isLoaded}}
                This section is not editable after create.
              {{else}}
                <i class="fa-solid fa-triangle-exclamation"></i> <b>This section could be configured only once, on create.</b>
              {{/if}}
            </p>
          <div class="grid grid-cols-1">
            <div>
              <label class="label" for="identifier">
                <span class="label-text">Identifier</span>
                <div class="tooltip tooltip-right" data-tip="During save the Mandatory and Searchable option will be disabled for this property!">
                  <i class="fa-solid fa-circle-info"></i>
                </div>
              </label>
              <input type="hidden" disabled id="loaded-identifier" value="{{class.identifier}}"/>
              <select id="identifier" name="identifier" class="select select-bordered w-full validator" required>
                <option disabled selected>Select an identifier</option>
              </select>
              <div class="validator-hint">An identifier is required</div>
            </div>
            <div>
              <label class="label" for="secondary-identifier">
                <span class="label-text">Secondary Identifier</span>
                <div class="tooltip tooltip-right" data-tip="During save the Mandatory and Searchable option will be enabled for this property!">
                  <i class="fa-solid fa-circle-info"></i>
                </div>
              </label>
              <input type="hidden" disabled id="loaded-secondary-identifier" value="{{class.secondaryIdentifier}}"/>
              <select
                id="secondary-identifier"
                name="secondary-identifier"
                class="select select-bordered w-full validator"
                required
              >
                <option disabled selected>Select a secondary identifier</option>
              </select>
              <div class="validator-hint">A secondary identifier is required</div>
            </div>
          </div>
        </fieldset>
        </div>

        <!-- Action Buttons -->
        <div class="flex justify-end space-x-2">
          <button type="button" class="btn btn-info">
            <i class="fas fa-eye"></i>
            Preview
          </button>
          <button type="button" class="btn btn-error" onclick="window.location.href = '/'">
            <i class="fas fa-circle-xmark"></i>
            Cancel</button>
          <button type="submit" class="btn btn-success">
            {{#if class.isLoaded}}
              <i class="fas fa-floppy-disk"></i>Update
            {{else}}
              <i class="fas fa-circle-plus"></i>Create
            {{/if}}
          </button>
        </div>
    </div>
  </form>
</div>
<br />

<style>
  .property-item {
    transition:
      max-height 0.2s ease-out,
      opacity 0.2s ease-out,
      padding 0.2s ease-out,
      border-width 0.2s ease-out;
    max-height: 500px; /* Should be larger than any property item's height */
    overflow: hidden;
  }
  .sortable-ghost {
    opacity: 0.4;
  }
  .handle {
    cursor: grab;
  }
  .handle:active {
    cursor: grabbing;
  }
  .description a {
      text-decoration: underline;
    }
  }
</style>
<script defer>
  document.addEventListener("DOMContentLoaded", initPropertyOrderWidget);
</script>
