<style>
  .table-hover tbody tr:hover {
    background-color: #e0f2fe; /* light blue */
  }
</style>
<div class="bg-base-100 p-6 rounded-box shadow">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">{{class}}</h1>
    <form hx-get="/admin/page/list/{{class}}" hx-target="#page-list-content">
      <div class="flex items-center gap-4">
        <div class="form-control">
          <input
            type="text"
            name="search"
            value="{{search}}"
            placeholder="Search secondary identifier"
            class="input input-bordered w-auto"
          />
        </div>
        <input type="hidden" name="sort" value="{{sort}}" />
        <button class="btn" type="submit">
          <i class="fas fa-search"></i>
          Search
        </button>
      </div>
    </form>
  </div>

  <dialog id="list-action-modal" class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Confirm action</h3>
      <p class="py-4" id="list-action-desc"></p>
      <div class="modal-action">
        <form hx-post="/admin/page/edit/{{class}}?{{urlQuery}}" hx-target="#page-list-content">
          <input id="list-action-name" name="item-action" type="hidden"/>
          <input id="list-action-item-id" name="item-identifier" type="hidden"/>
          <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i>Confirm</button>
        </form>
        <button class="btn btn-error" onclick="document.getElementById('list-action-modal').close()"><i class="fa-solid fa-x"></i>Cancel</button>
      </div>
    </div>
  </dialog>

  <div class="overflow-x-auto">
    <table class="table table-sm w-full table-hover table-zebra">
      <thead>
        <tr>
          <th>
            {{{htmxSortButton 
              (concat (concat '/admin/page/list/' class) (concat '?search=' search)) 
              'page-list-content' 
              'flex items-center gap-2 cursor-pointer' 
              'Identifier' 
              'identifier' 
              sort 
            }}}
          </th>
          <th class="w-3/4">
            {{{htmxSortButton 
              (concat (concat '/admin/page/list/' class) (concat '?search=' search)) 
              'page-list-content' 
              'flex items-center gap-2 cursor-pointer' 
              'Secondary Identifier' 
              'secondary_identifier' 
              sort 
            }}}
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#unless pages}}
          <!-- align text to center -->
          <tr><td colspan=3 class="text-center">Nothing to list</td></tr>
        {{/unless}}
        {{#each pages}}
          <tr>
            <td>{{this.Identifier}}</td>
            <td><a
                onclick="window.open(previewHost + '/preview/{{class}}/{{this.Identifier}}', '_blank')"
                class="link"
              >{{this.SecondaryIdentifier}}</a></td>
            <td>
              <div class="flex items-center gap-4">
                <a
                  href="/admin/page/edit/{{../class}}/{{this.Identifier}}"
                  title="Edit"
                ><i class="fas fa-edit text-info"></i></a>
                {{#if this.IsEnabled}}
                  <a
                    onclick="confirmListAction('{{this.Identifier}}', 'disable')"
                    title="Disable" class="cursor-pointer"
                  ><i class="fas fa-toggle-on text-success"></i></a>
                {{else}}
                  <a
                    onclick="confirmListAction('{{this.Identifier}}', 'enable')"
                    title="Enable" class="cursor-pointer"
                  ><i class="fas fa-toggle-off text-warning"></i></a>
                {{/if}}
                <a
                  onclick="confirmListAction('{{this.Identifier}}', 'delete')"
                  title="Delete" class="cursor-pointer"
                ><i class="fas fa-trash text-error"></i></a>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

    <div class="mt-6 flex justify-between items-center">
      <div class="join">

        {{#with paging}}
          {{#if first}}
           <a hx-get="{{baseURL}}&page={{first}}" 
            hx-target="#page-list-content" 
            hx-swap="innerHTML" 
            class="join-item btn btn-sm">«</a>
          {{/if}}

          {{#each prev}}
           <a hx-get="{{baseURL}}&page={{this}}" 
            hx-target="#page-list-content" 
            hx-swap="innerHTML" 
            class="join-item btn btn-sm">{{this}}</a>
          {{/each}}

          <a class="join-item btn btn-sm btn-active">{{current}}</a>
        
          {{#each next}}
           <a hx-get="{{baseURL}}&page={{this}}" 
            hx-target="#page-list-content" 
            hx-swap="innerHTML" 
            class="join-item btn btn-sm">{{this}}</a>
          {{/each}}

          {{#if last}}
           <a hx-get="{{baseURL}}&page={{last}}" 
            hx-target="#page-list-content" 
            hx-swap="innerHTML" 
            class="join-item btn btn-sm">»</a>
          {{/if}}
        {{/with}}

      </div>
      <a href="/admin/page/create/{{class}}" class="btn btn-success">
        <i class="fas fa-circle-plus"></i>
        Create new page
      </a>
    </div>
</div>
